<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mapping Page</title>
<!--Leaflet tutorials  were integral and embedded in the code below
https://leafletjs.com/examples.html was an incredible resource.-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>

      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <style>
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 400px;
			width: 600px;
			max-width: 100%;
			max-height: 100%;
		}
    body {
      text-align: center;
      background-color: teal;
      color: white;
    }
    h1, h2, h3{
      font-family: Arial, Helvetica, sans-serif;
    }
	</style>
  </head>
  <body>

<script src='jquery-3.2.1.min.js'></script>
<h1>Calgary Permit Maps</h1>
<h2>Car Accident Distribution</h2>
<h3>For Permit Enthusiasts Only</h3>
<div id="map" style="width: 100%; height: 50%;"></div>
<script>

  var dateMax = new Date();
  var dateMin = new Date(1980, 0, 1);



	var map = L.map('map').setView([51.0447, -114.0719], 11);

	// var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
	// 	maxZoom: 18,
	// 	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
	// 		'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	// 	id: 'mapbox/streets-v11',
	// 	tileSize: 512,
	// 	zoomOffset: -1
	// }).addTo(map);

  //L.mapbox.accessToken = 'pk.eyJ1Ijoic3ltZXMtYSIsImEiOiJja3pzcTg0NHAzdDhsMm5xcm5weDNnZTR0In0.Y241akcUKZICjTQlUusiMg';

  var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/symes-a/ckzyyc21c005714qv5sndpo93/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3ltZXMtYSIsImEiOiJja3pzcTg0NHAzdDhsMm5xcm5weDNnZTR0In0.Y241akcUKZICjTQlUusiMg', {
          tileSize: 512,
          zoomOffset: -1,
          attribution: '© <a href="https://www.mapbox.com/contribute/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);



var selection = {{ selection|tojson }};
if( selection == "True"){
  var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/symes-a/ckzykrzg8005r14miz7s7rtur/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3ltZXMtYSIsImEiOiJja3pzcTg0NHAzdDhsMm5xcm5weDNnZTR0In0.Y241akcUKZICjTQlUusiMg', {
          tileSize: 512,
          zoomOffset: -1,
          attribution: '© <a href="https://www.mapbox.com/contribute/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);
    }
      //document.write(selection);





  L.mapbox.accessToken = 'pk.eyJ1Ijoic3ltZXMtYSIsImEiOiJja3pzcTg0NHAzdDhsMm5xcm5weDNnZTR0In0.Y241akcUKZICjTQlUusiMg';
  L.mapbox.accessToken = 'pk.eyJ1Ijoic3ltZXMtYSIsImEiOiJja3pzcTg0NHAzdDhsMm5xcm5weDNnZTR0In0.Y241akcUKZICjTQlUusiMg';
var selection = {{ selection|tojson }};
var hehe = "False";
//if( hehe == "False"){
var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/symes-a/ckzyyc21c005714qv5sndpo93/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3ltZXMtYSIsImEiOiJja3pzcTg0NHAzdDhsMm5xcm5weDNnZTR0In0.Y241akcUKZICjTQlUusiMg', {
        tileSize: 512,
        zoomOffset: -1,
        attribution: '© <a href="https://www.mapbox.com/contribute/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

//}
//https://api.mapbox.com/styles/v1/symes-a/ckzyyc21c005714qv5sndpo93.html?title=copy&access_token=pk.eyJ1Ijoic3ltZXMtYSIsImEiOiJja3pzcTg0NHAzdDhsMm5xcm5weDNnZTR0In0.Y241akcUKZICjTQlUusiMg&zoomwheel=true&fresh=true#9/37.78/-122.4241
      //mapbox://styles/symes-a/ckzyyc21c005714qv5sndpo93
      //pk.eyJ1Ijoic3ltZXMtYSIsImEiOiJja3pzcTg0NHAzdDhsMm5xcm5weDNnZTR0In0.Y241akcUKZICjTQlUusiMg
      //mapbox://styles/symes-a/ckzyyc21c005714qv5sndpo93



</script>


<form action = "{{url_for('index')}}" method = "post">
  <h4>Would you like map </h4>
  <select id="selection" name="selection">
    <option value="True">Yes</option>
    <option value="False">No</option>
  </select>
  <input type="submit">
</form>
</script>

</script>
  </body>
</html>
